{{!< default}}

<div class="post-list">
    {{#foreach posts}}
    <article class="post-item">
        <h2><a href="{{url}}">{{title}}</a> <span class="post-date">({{date published_at format="YYYY-MM-DD"}})</span></h2>
    </article>
    {{/foreach}}
</div>

{{pagination}}
